.component-ingredient-card {
  display: inline-block;
  margin: 1em;
  text-align: left;

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  .content {
    li {
      display: inline-block;
      padding-right: 1em;
    }
  }
}
