.component-recipe-card {
  margin: 0 auto 1em;
  width: 100%;

  a {
    color: black;
    text-decoration: none;
  }

  .content {
    margin-bottom: 1em;
  }

  .tag {
    margin: 0 1em .5em 0;
  }
}

@include desktop {
  .component-recipe-card {
    margin: 0 1em 1em 0;
    flex-basis: 48%;
  }
}
