.component-recipe-list {
  padding-top: 1em;

  & > ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@include desktop {
  .component-recipe-list {
    & > ul {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
