.component-recipes-filter-controls {
  /* tablet and larger */
  &.is-hidden-mobile {
    display: flex;
    justify-content: space-evenly;
  }

  /* mobile */
  &.is-hidden-tablet {
    .is-horizontal {
      display: flex;
      padding: 0 1em;

      .field-body {
        flex: 3 1 0;
        display: flex;

        .field {
          flex: 1 1;
        }
      }
    }

    .field-label {
      flex: 1 0 0;
      margin-right: 1.5rem;
      text-align: right;
    }
  }
}
